[env]
MOON_TOOLCHAIN_FORCE_GLOBALS = "true"

[tools]
bun = "1.2.22"
deno = "2.6.4"
node = "22"
pnpm = "10.28.0"
"npm:@moonrepo/cli" = "2.0.0-rc.1"

[tools."github:dahlia/hongdown"]
version = "0.3.2"

[tools."github:dahlia/hongdown".platforms]
linux-x64 = "hongdown-*-x86_64-unknown-linux-musl.tar.bz2"
linux-arm64 = "hongdown-*-aarch64-unknown-linux-musl.tar.bz2"

[tasks.codegen]
run = "moon run vocab:codegen"

# Code quality
[tasks.check]
run = "moon run root:check"

[tasks.cli]
run = "moon run root:cli"

[tasks.test]
run = "moon run :test.bun :test.node root:test.deno root:check"

[tasks."test:deno"]
run = "moon run root:test.deno"

[tasks."hooks:install"]
run = "mise generate git-pre-commit --write --task=check"
